// Bitters 1.1.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";
@import "grid-settings";
@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";
@import "flashes";

section {
  @include outer-container;
}

.page-header {
  a.btn {
    float: right
  }
}

.invisible {
  display: none;
}

.field {
  margin-bottom: $small-spacing;
  margin-top: $small-spacing;
}

.field-with-btn {
  position: relative;

  button {
    @include position(absolute, 0em 0em 0em null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;
  }
}